.social ul li .icon-whatsapp {border-radius:0 0 5px 0;}
.gray{background:#777!important;border-color:#656565;}
.gray:hover{background:#333!important;border-color:#656565;}
.gray:focus{box-shadow:0 0 0 2px rgba(123, 123, 123, 0.5);}
